<div class="row col-md-8 col-md-offset-2">
<div well>
<button type="button" class="btn btn-secondary custom"><li><%= link_to chatroom.topic, chatroom_path(chatroom) %></p></button> <br><br>
</div>
</div>
