<script>
$(document).on("turbolinks:load", russell);
</script>
  <h1>Countdown To Palm Springs</h1>
<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>
  <%if current_user%>
  <br>
    <h3><span class="glyphicon glyphicon-heart"></span> Nice to see you, <%= current_user.username%> <span class="glyphicon glyphicon-heart"></span></h3>
  <%end%>
<br>
<br>
<div>
  <h3>Sign up or log in, then click on the Palm Springs Chatroom to start chatting.</3> <hr>
   <button type="button" class="btn btn-secondary custom"><h3><%= link_to "Sign Up", signup_path %> </h3></button>
    <button type="button" class="btn btn-secondary custom"><h3><%= link_to "Log In", login_path %><h3></button>
</div>
