@import "bootstrap-sprockets";
@import "bootstrap";
@import "chatrooms";
@import "messages";
@import "users";
@import "countdown";

body {
background-image: url("/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.navbar {
background: #fff;
}

.auth-form.well {
background:  #7899AC;
opacity: 0.8
}

.custom {
  width: 150px;
  height: 80px;
  background:  #7899AC;
}

a {
  color: black;
  text-decoration: none;
}
