@import "bootstrap-sprockets";
@import "bootstrap";
@import "chatrooms";
@import "messages";
@import "users";
@import "countdown";

body {
background-image: url("/background.jpg");
background-repeat:no-repeat;
background-size:contain;
background-position:center;
}

.navbar {
background: #fff;
}

.auth-form.well {
background:  #7899AC;
opacity: 0.8
}
